@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 152 44% 18%;
    --gold: 42 85% 50%;
  }

  body {
    @apply text-gray-900 bg-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
